@media screen and (max-width: 1279px){
  .wrapper {
      width: 100%;
      min-width: 330px;
      padding: 0;
  }
  body{
    margin: 0 10px;
    min-width: 330px;
  }
  #stopline .row {
      display: flex;
      width: 91%;
      clear: both;
      float: none;
      position: relative;
      justify-content: space-between;
  }
  #stopline .basket {
      left: 70px;
  }
  #stopline .mail {
    width: 47%;
  }
}
@media screen and (max-width: 1160px){
  .top-nav a {
    padding: 17px 10px 13px 8px;
  }
  .top-nav-phone {
    padding-top: 10px;
  }
}
@media screen and (max-width: 1075px){
  .top-nav a {
    padding: 10px 6px 4px 6px;
  }
  .top-nav-phone {
    padding-top: 5px;
  }
}

@media screen and (max-width: 1025px){
.top-nav>ul {
    width: 80%;
}
.top-nav>ul>li {
    width: 18%;
    text-align: center;
    vertical-align: middle;
}
.top-nav-phone {
    top: 20%;
}
}
@media screen and (max-width: 890px){
  #stopline .row {
    width: 94%;
  }
  #stopline .mail {
    width: 70%;
  }
  #stopline .basket {
    left: 20px;
    width: 65%;
  }
}
@media screen and (max-width: 800px){
  #stopline .basket {
      left: 10px;
      width: 65%;
      margin-right: -60px;
  }
}
@media screen and (max-width: 750px){
.top-nav-phone {
    top: 45%;
}
}
@media screen and (max-width: 550px){
  .top-nav>ul>li{
    display: none;
  }
  .top-nav>ul{
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAGFBMVEVMaXEAAAAAAAAAAAAAAAAAAAAAAAAAAACrC2ehAAAAB3RSTlMAFyivsO/zlwIHeAAAADZJREFUeNpjYCAImNzKkUCKAoNqOQoIYnB3RFYvUsKQLoAswFiGKYCqRbgE01AMa0ddOgAuBQC8dlwItzHTwQAAAABJRU5ErkJggg==');
    margin-left: 10px;
    height: 30px;
    background-repeat: no-repeat;
    width: 35px;
    cursor: pointer;
  }
  .top-nav-phone {
    top: 0;
  }
  body {
    margin: 0;
  }
  .top-nav>ul.active li{
  display: block;
  z-index: 3;
  width: 170px;
  filter: alpha(Opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  background-color: #ffffff;
  opacity: 0.9;
  margin-left: 40px;
  }
}
