@media screen and (max-width: 1279px){
  .wrapper {
      width: 100%;
      min-width: 330px;
      padding: 0;
  }
  body{
    margin: 0 10px;
    min-width: 330px;
  }
  #stopline .row {
      display: flex;
      width: 91%;
      clear: both;
      float: none;
      position: relative;
      justify-content: space-between;
  }
  #stopline .basket {
      left: 70px;
  }
  #stopline .mail {
    width: 47%;
  }
  .wrapper.main-body .row{
    display: flex;
  }
  .wrapper.main-body .row #logo,
  .wrapper.main-body .col-md-3{
    flex: none;
    width: 220px;
  }
  .wrapper.main-body .row header {
    padding: 5px 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .search {
    width: 100%;
    background-size: 100% 57px;
  }
  .search .white {
    width: 94%;
    display: flex;
    justify-content: space-evenly;
  }
  .search .text {
    width: 75%;
  }
  .wrapper.main-body :last-child{
	  display: block;	  
  }
  .wrapper.main-body .breadcrumbs span {
	  display: initial;
  }
  .wrapper.main-body .row iframe {
    display: initial;
  }
  footer.col-md-12.col-lg-15{
	  width: 98%;
  }
  footer {
    background-size: contain;
  }
  .footer {
    background-size: contain;
  }
  .main-body:after {
    width: 100%;
  }
  .main-text {
    width: 97%;
  }
  .main-text .row {
    width: 97%;
  }
  .main-text .row .col-md-15.col-lg-15{
	width: 97%; 
  }
  .copy .col-lg-15{
	  width: 100%;
  }
}
@media screen and (max-width: 1225px){
  .main-body header .city {
      margin-right: 3px;
  }
  .main-body header .phones {
    margin: 16px 7px;
  }
  .main-body header .basket {
    margin-left: 4px;
    margin-right: 4px;
  }
  .popular a.bx-prev{
	  left:-20px;
  }
  .popular a.bx-next{
	  right:-20px;
  }
}
@media screen and (max-width: 1160px){
  .top-nav a {
    padding: 17px 10px 13px 8px;
  }
  .top-nav-phone {
    padding-top: 10px;
  }
  .main-body header .basket {
    width: auto;
  }
  .main-body header .phones {
    font-size: 17px;
  }
  .popular {
    padding: 12px 5px;
  }
  .popular div.bx-wrapper {
    width: 90%;
  }
  .popular a.bx-prev{
	  left:-45px;
  }
  .popular a.bx-next{
	  right:-45px;
  }
}
@media screen and (max-width: 1075px){
  .top-nav a {
    padding: 10px 6px 4px 6px;
  }
  .top-nav-phone {
    padding-top: 5px;
  }
  .main-body header .phones {
    font-size: 17px;
    width: 158px;
    flex: none;
  }
  .search .white {
    width: 93%;
  }
  .footer .row{
	  display: flex;
  }
  .footer .contacts {
    flex: none;
	width: 230px;
  }
  .footer .col-lg-offset-1{
	  left: 0px;
  }
}
@media screen and (max-width: 1025px){
.top-nav>ul {
    width: 80%;
}
.top-nav>ul>li {
    width: 18%;
    text-align: center;
    vertical-align: middle;
}
.top-nav-phone {
    top: 20%;
}
}
@media screen and (max-width: 970px){
  .wrapper.main-body .row header {
      flex-wrap: wrap;
  }
  .main-body header .added {
    width: 100%;
  }
  .search .white {
    width: 92%;
  }
}
@media screen and (max-width: 890px){
  #stopline .row {
    width: 94%;
  }
  #stopline .mail {
    width: 70%;
  }
  #stopline .basket {
    left: 20px;
    width: 65%;
  }
  .search .white {
    width: 91%;
  }
  .popular div.bx-wrapper {
    width: 80%;
  }
  .footer .fast {
    margin: 0 10px;
  }  
}
@media screen and (max-width: 850px){
  #artklen {
    position: unset;
	line-height: initial;
  }
  .copy {
    height: 60px;
  }	
  #artklen>a>img {
    bottom: 17px;
    right: 10px;
  }
}
@media screen and (max-width: 805px){
  .main-body header .city {
      width: 6%;
  }
  .main-body header .basket {
    width: 12%;
  }
  .search .white {
    width: 90%;
  }
}
@media screen and (max-width: 800px){
  #stopline .basket {
      left: 10px;
      width: 65%;
      margin-right: -60px;
  }
  .row iframe {
    width: 690px;
    height: 384px;
  }
}
@media screen and (max-width: 750px){
  .top-nav-phone {
     top: 45%;
  }
  .row iframe {
    width: 650px;
    height: 362px;
  }
}
@media screen and (max-width: 721px){
#stopline {
    height: 60px;
  }
  #stopline .basket>span {
      display: block;
      line-height: 0px;
  }
  #stopline .mail a {
    display: block;
    line-height: 0;
  }
  #stopline .mail {
    width: 60%;
  }
  #stopline .basket {
      left: 0;
      width: 50%;
  }
  #stopline .row {
    width: 90%;
  }
  #stopline .mail {
    margin-left: 10px;
  }
  #stopline .phone{
    top: 6px;
  }
  #stopline .phone>div>div{
      margin-bottom: 5px;
  }
  .main-body header .basket {
    width: 11%;
    padding-left: 42px;
  }
  .main-body header .phones {
    font-size: 15px;
    width: 139px;
  }
  .main-body header .phones {
    padding: 9px 0 0 26px;
  }
  .main-body header .city .pre {
    font-size: 14px;
  }
  .main-body header .city {
    padding-left: 34px;
  }
  .main-body header .phones {
    margin: 16px 4px;
  }
  .main-body header .basket a.pre {
    font-size: 14px;
  }
  .search .white {
    width: 87%;
  }
}
@media screen and (max-width: 706px){
  .row iframe {
    width: 600px;
    height: 334px;
  }
}
@media screen and (max-width: 657px){
  .main-body header #logo a {
      width: 200px;
      margin-left: 0px;
  }
  .wrapper.main-body .row #logo {
    width: 200px;
  }
  .main-body header .city {
    margin-right: 3px;
    width: 14%;
  }
  .main-body header .basket {
    width: 19%;
  }
  .main-body header .added {
    width: 50%;
  }
  .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-13, .col-14, .col-15, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15 {
    margin: 0 5px;
  }
  .search .white {
    width: 86%;
  }
  .row iframe {
    width: 550px;
    height: 306px;
  }
  .footer .row {
    flex-direction: column;
  }
  .footer .fast,
  .footer .contacts {
    margin: 0;
    text-align: center;
    width: 100%;
  }
  .footer .fast{
      margin-bottom: 20px;
  }  
  .footer .fast ul{
	  margin: 0;
  }
}
@media screen and (max-width: 600px){
  .search .white {
    width: 83%;
  }
  .search .dd {
    width: 100px;
  }
  .row iframe {
    width: 500px;
    height: 277px;
  }  
}
@media screen and (max-width: 552px){
  .top-nav>ul>li{
    display: none;
  }
  .top-nav>ul{
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAGFBMVEVMaXEAAAAAAAAAAAAAAAAAAAAAAAAAAACrC2ehAAAAB3RSTlMAFyivsO/zlwIHeAAAADZJREFUeNpjYCAImNzKkUCKAoNqOQoIYnB3RFYvUsKQLoAswFiGKYCqRbgE01AMa0ddOgAuBQC8dlwItzHTwQAAAABJRU5ErkJggg==');
    margin-left: 10px;
    height: 30px;
    background-repeat: no-repeat;
    width: 35px;
    cursor: pointer;
  }
  .top-nav-phone {
    top: 0;
  }
  body {
    margin: 0;
  }
  .top-nav>ul.active li{
  display: block;
  z-index: 3;
  width: 170px;
  filter: alpha(Opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  background-color: #ffffff;
  opacity: 0.9;
  margin-left: 40px;
  }
  .main-body header #logo {
    margin: 0 5px 0 -5px;
  }
  .main-body header .city {
    width: 9%;
  }
  .search .white {
    width: 80%;
  }
}
@media screen and (max-width: 527px){
  .row iframe {
    width: 450px;
    height: 249px;
  }
  .rights span {
    margin-right: 10px;
  }
}
@media screen and (max-width: 480px){
  #stopline .mail {
    display: none;
  }
  #stopline .row {
    width: 86%;
  }
  #stopline .basket {
    left: 20px;
    width: 60%;
  }
  .wrapper.main-body .row #logo {
    width: 35%;
  }
  .main-body header #logo a {
    width: 100%;
  }
  .main-body header #logo a img {
    width: 100%;
    height: auto;
  }
  .main-body header .city{
    margin-top: 2px;
  }
  .main-body header .phones {
    margin: 2px 4px;
    height: 30px;
  }
  .main-body header .basket {
    width: 26%;
    margin-top: 3px;
  }
  .wrapper.main-body .row {
      flex-direction: column;
  }
  .wrapper.main-body .col-md-3 {
    flex: none;
    width: 220px;
    margin: 0 auto;
  }
  .wrapper.main-body .col-md-9.col-lg-12,
  .wrapper.main-body .col-md-12.col-lg-15 {
    width: 97%;
  }
  .search .dd {
    width: 95px;
  }
  .search .white {
    width: 85%;
  }
  .row iframe {
    width: 430px;
    height: 238px;
  }
  .main-text .row .col-md-15.col-lg-15 {
    width: 100%;
  }
  .main-text {
    padding: 10px 10px 15px 5px;
  }
}
@media screen and (max-width: 461px){
  .row iframe {
    width: 400px;
    height: 222px;
  }
}
@media screen and (max-width: 449px){
  #artklen>a>img {
    bottom: 37px;
  }
}
@media screen and (max-width: 430px){
.main-body header .phones {
    background-size: 10%;
  }
  .main-body header .city {
    background-size: 35%;
  }
  .main-body header .basket {
    background-size: 18%;
  }
  .main-body header .city {
    padding-left: 28px;
  }
  .main-body header .phones{
    padding-left: 20px;
  }
  .main-body header .basket{
    padding-left: 32px;
  }
  .main-body header #logo {
    margin: 0 -15px 0 -15px;
  }
  .row iframe {
    width: 380px;
    height: 210px;
  }
}
@media screen and (max-width: 410px){
  .row iframe {
    width: 360px;
    height: 199px;
  }
  #artklen {
    width: 60%;
	margin-top: 15px;
  }
  .copy .rights {
    line-height: 25px;
  }
  .copy {
    height: 140px;
  }
  #artklen>a>img {
    bottom: 52px;
  }
  #goup {
    bottom: 45px;
  }
}
@media screen and (max-width: 389px){
  .row iframe {
    width: 344px;
    height: 190px;
  }
}
