@media screen and (max-width: 1279px){
  .wrapper {
      width: 100%;
      min-width: 370px;
      padding: 0;
  }
  body{
    margin: 0 10px;
  }
}
@media screen and (max-width: 1160px){
  .top-nav a {
    padding: 17px 10px 13px 8px;
  }
}
@media screen and (max-width: 1075px){
  .top-nav a {
    padding: 10px 6px 4px 6px;
  }
  .top-nav-phone {
    padding-top: 5px;
  }
}
